{{extend 'layout.html'}}

<h1>{{=T('Pending Matchs by Tatami')}}</h1>

{{stractive=''}}


 <ul class="nav nav-tabs" role="tablist">
   
    {{for tatami in tatamis:}}
    {{stractive =' class="active" ' if int(tatami['id'])==int(tatami_default) else ' ' }}
    <li role="presentation" {{=XML(stractive)}} ><a href="{{=URL('default','index',vars=dict(tatami_id=tatami['id']))}}" aria-controls="home" role="tab" ><strong>{{=tatami['tatami']}}</strong> ({{=tatami['peleas']}})</a></li>
    {{pass}}
</ul>


{{=grid}}

