{{extend 'layout.html'}}
<style>
#label_tatami {
font-size:32px;
color:white;
text-align:center;
padding-top:0px;        
}
#label_tournament {
font-size:32px;
color:white;
text-align:center;
padding-top:0px;        
}
#label_category{
font-size:32px;
color:white;
text-align:center;
padding-top:0px;        
}
#blue_header {
color:blue;
text-align:center;
        
}

#red_header {

color:red;
text-align:center;
        
}




#blue_score {
font-size:300px;
color:blue;
text-align:center;
padding-top:0px;

        
}
#athlete_blue {
font-size:46px;
color:blue;
text-align:center;


        
}
#red_score {
    font-size:300px;
color:red;
text-align:center; 
padding-top:0px;  
}
    
#athlete_red {
    font-size:46px;
color:red;
text-align:center;   
}
    
#cronometer {
    font-size:56px;
color:yellow;
text-align:center;   
}
#protection {
    font-size:56px;
    color:white;
    text-align:center;   
    //visibility:hidden;
    //display:none;
}
body {
    background-color:#000;
    padding-top:0px;
    padding-bottom;0px;
    }
</style>




<div class="row">
  <div class="col-md-4" style="text-align:center"><div id="athlete_blue" >...</div></div>
  <div class="col-md-4" style="text-align:center">  
      <div id="cronometer" > <span id="minutos">60</span> : <span id="segundos">00</span> </div> 
      <div id="protection" >10</div> 
  </div> 
  <div class="col-md-4" style="text-align:center"><div id="athlete_red" >..</div></div>
</div>


<div class="row">
  <div class="col-md-4" style="text-align:center"><span id="blue_score" >0</span> 
  

  
  </div>
  <div class="col-md-4" style="text-align:center">
 
 
 
 
 
 
       <div class="btn-group" data-toggle="buttons">
       <table class="table" valign="middle">
        <tr>
            <th>&nbsp;</th>
            <th><div id="blue_header">CAT1</div></th>
            <th><div id="blue_header">CAT2</div></th>

        </tr>
        <tr>
            <td>C</td>
            <td> <input type="checkbox" autocomplete="off"></td>
            <td> <input type="checkbox" autocomplete="off"></td>

        </tr>   
         <tr>
            <td>K</td>
            <td> <input type="checkbox" autocomplete="off"></td>
            <td> <input type="checkbox" autocomplete="off"></td>

        </tr>      
              <tr>
            <td>K</td>
            <td> <input type="checkbox" autocomplete="off"></td>
            <td> <input type="checkbox" autocomplete="off"></td>

        </tr>   
        
        
                 <tr>
            <td>K</td>
            <td> <input type="checkbox" autocomplete="off"></td>
            <td> <input type="checkbox" autocomplete="off"></td>

        </tr>                               
       </table>
    </div>



       <div class="btn-group" data-toggle="buttons">
       <table class="table" valign="middle">
        <tr>
            <th>&nbsp;</th>
            <th><div id="red_header">CAT1</div></th>
            <th><div id="red_header">CAT2</div></th>

        </tr>
        <tr>
            <td>C</td>
            <td> <input type="checkbox" autocomplete="off"></td>
            <td> <input type="checkbox" autocomplete="off"></td>

        </tr>   
         <tr>
            <td>K</td>
            <td> <input type="checkbox" autocomplete="off"></td>
            <td> <input type="checkbox" autocomplete="off"></td>

        </tr>      
              <tr>
            <td>K</td>
            <td> <input type="checkbox" autocomplete="off"></td>
            <td> <input type="checkbox" autocomplete="off"></td>

        </tr>   
        <tr>
            <td>K</td>
            <td> <input type="checkbox" autocomplete="off"></td>
            <td> <input type="checkbox" autocomplete="off"></td>

        </tr>                               
       </table>
    </div>
  </div>
  <div class="col-md-4" style="text-align:center">
      
   
      <span id="red_score">0</span>
  
  
  
  
  </div>
</div>









<div class="row">
  <div class="col-md-6" style="text-align:center">
      <div class="btn-group btn-group-md" role="group" aria-label="...">
          <a id="btn_blue1" type="button" class="btn btn-primary ">Yuko</a>          
          <a id="btn_blue2" type="button" class="btn btn-primary ">Wazari</a>
          <a id="btn_blue3" type="button" class="btn btn-primary ">Ippon</a>

      </div>
      
  </div>
  <div class="col-md-2" style="text-align:center"></div>
  <div class="col-md-6" style="text-align:center">
      <div class="btn-group btn-group-md" role="group" aria-label="...">

          <a id="btn_red1" type="button" class="btn btn-danger ">Yuko</a>
          <a id="btn_red2" type="button" class="btn btn-danger ">Wazari</a>
          <a id="btn_red3" type="button" class="btn btn-danger ">Ippon</a> 

      </div>
      
  </div>
</div>

<div class="row">
  <div class="col-md-6" style="text-align:center">
      <div class="btn-group btn-group-md" role="group" aria-label="...">
          <a id="btn_blue_minus" type="button" class="btn btn-primary ">-1</a>          
          <a id="btn_bluec1" type="button" class="btn btn-primary ">C1</a>
          <a id="btn_bluec2" type="button" class="btn btn-primary ">C2</a>
          <a id="btn_blueprotection" type="button" class="btn btn-primary ">10''</a> 
      </div>
      
  </div>
  <div class="col-md-2" style="text-align:center"></div>
  <div class="col-md-6" style="text-align:center">
      <div class="btn-group btn-group-md" role="group" aria-label="...">

          <a id="btn_red_minus" type="button" class="btn btn-danger ">-1</a>
                    <a id="btn_redc1" type="button" class="btn btn-danger ">C1</a>
          <a id="btn_redc2" type="button" class="btn btn-danger ">C2</a>   
          <a id="btn_redprotection" type="button" class="btn btn-danger ">10''</a>        
        
      </div>
      
  </div>
</div>


<div class="row">
  <div class="col-md-4" style="text-align:center"><div id="label_tatami" >Tatami 1</div></div>
  <div class="col-md-4" style="text-align:center">    <div id="label_tournament" >OPEN  DE VENEZUELA</div> </div>
  <div class="col-md-4" style="text-align:center"><div id="label_category" >MASTER+65</div></div>
</div>
<script>$( document ).ready(function() {
    nav= $('nav').hide();
    var foot = $('footer');
    foot= $('footer').hide();
    body= $('body');
    body.css('background','black');
    social=$('#socialdrawer');
    social.hide();
     fight.print_names();
    });
</script>


<script language="JavaScript">

var fight = {
    fight_id : {{=record.fight.id}},
    blue_athlete_id:'{{=record.athlete_blue.id}}',
    blue_athlete_name: '{{=record.athlete_blue.name}}',
    blue_score:0,
    blue_c1:0,
    blue_c2:0,
    red_athlete_id: '{{=record.athlete_red.id}}',
    red_athlete_name: '{{=record.athlete_red.name}}',
    red_score:0,
    red_c1:0,
    red_c2:0,   
    winner_athlete_id:0,             
    cronometer_secs:00,
    cronometer_mins:3,
    cronometer_active:false,
    protection_active:false,
    protection_color: '',  
    protection_secs:10,
    protection_blue_count:0,
    protection_red_count:0,
    fault_c1_red_count:0,
    fault_c2_red_count:0,
    fault_c1_blue_count:0,
    fault_c2_blue_count:0,
    finished:0,
    
    set_winner: function (winner_id){
        
        this.winner_athlete_id = winner_id;
        
    },
    
    print_names: function (){
        $('#athlete_blue').html(this.blue_athlete_name);
        $('#athlete_red').html(this.red_athlete_name);
        
    },
    add_score: function (color,num){
        
        var foot = $('footer');
        
        sufix = '_score';
        obj = $('#'+color+sufix);
        score = obj.html();
        score = parseInt(score);
        
        score = score + num;
        if (score>=0 && fight.cronometer_active && this.finished==0){
            obj.html(score); 
            if (color=='red'){ this.red_score=score; }    ; 
            if (color=='blue'){ this.blue_score=score; }  ;
        } 
    },
    toggle_crono: function (){
        
        if (this.protection_active ==false){
           if (this.cronometer_active) {
               this.cronometer_active = false;
            }else{
                this.cronometer_active = true;
            }        
        }
    
    } ,
    
    
    cronometer: function(){
        if (fight.cronometer_active==true && this.finished==0) {
            if ( this.cronometer_secs>=0 && this.cronometer_mins>=0 ) {    
                fmt = '';
                fmt_min='';
                
                if (this.cronometer_mins < 10) { fmt_min='0' }
                
                if(this.cronometer_secs == 0  ){
                    //location.reload();
                    var ds = clearInterval(s);
                    this.cronometer_secs=59;
                    if (this.cronometer_secs < 10) { fmt='0' }
                    this.cronometer_mins--;
                    if (this.cronometer_mins<0){
                        document.getElementById("segundos").innerHTML='00';
                        document.getElementById("minutos").innerHTML='00';
                        document.title = '00:00';
                        
                    }else{
                        document.getElementById("segundos").innerHTML=fmt+this.cronometer_secs;
                        document.getElementById("minutos").innerHTML=fmt_min+this.cronometer_mins;
                        document.title = fmt_min+this.cronometer_mins +':'+fmt+this.cronometer_secs;
                        this.cronometer_secs =  60;
                    } 
                }else{
                    if (this.cronometer_secs < 10) { fmt='0' }
                    this.cronometer_secs--;
                    document.getElementById("segundos").innerHTML=fmt+this.cronometer_secs;
                    document.title = fmt_min+this.cronometer_mins +':'+fmt+this.cronometer_secs;    
                }
            }
            

        }
    },
    
    protection: function (){
             
        if (this.protection_active==true && this.protection_color!='' && this.finished==0) {
           
            if ( this.protection_secs>=0 ) {
                
                console.log('paso 3');    
                var fmt = '';
                
                console.log(this.protection_secs);
                if (this.protection_secs < 10) { fmt='0' }
                document.getElementById("protection").innerHTML=fmt+this.protection_secs;

                if(this.protection_secs == 0){

                     document.getElementById("protection").innerHTML="Finalizado";
                }
            }
            this.protection_secs--;
            
        }   
        

    },
    
    sync2db: function(){
        if ( this.protection_active || this.cronometer_active)  {
            $.post( "save_fight_log", {data:JSON.stringify(fight)} );   
        }
    }      
    
    
      
}




shortcut.add("1",function() {
    fight.add_score('blue',1);
});

shortcut.add("2",function() {
    fight.add_score('blue',2);
});

shortcut.add("3",function() {
   fight.add_score('blue',3);
});

shortcut.add("X",function() {
   fight.add_score('blue',-1);
});

shortcut.add("8",function() {
    fight.add_score('red',1);
});

shortcut.add("9",function() {
    fight.add_score('red',2);
});

shortcut.add("0",function() {
   fight.add_score('red',3);
});

shortcut.add("M",function() {
   fight.add_score('red',-1);
});


shortcut.add("space",function() {
   fight.toggle_crono();

});




$( "#btn_blue1" ).click(function() {
   fight.add_score('blue',1);
});

$( "#btn_blue_minus" ).click(function() {
   fight.add_score('blue',-1);
});

$( "#btn_blue2" ).click(function() {
   fight.add_score('blue',2);
});

$( "#btn_blue3" ).click(function() {
   fight.add_score('blue',3);
});

$( "#btn_bluec1" ).click(function() {
   fight.add_score('blue',1);
});

$( "#btn_bluec2" ).click(function() {
   fight.add_score('blue',1);
});

$( "#btn_blueprotection" ).click(function() {

    fight.protection_color=='blue';
    if (fight.protection_active ){
        $('#cronometer').show();
        $('#protection').hide();        
        fight.protection_active = false;
        //fight.cronometer_active = true;
        fight.protection_secs = 10;
        fight.protection_color='blue';     
    }else{
        $('#cronometer').hide();
        $('#protection').show();
        fight.protection_active=true;
        fight.cronometer_active = false;
        fight.protection_blue_count++;
        $('#protection').css('color','blue');   
        fight.protection_color='blue';
        fight.protection();    

    }
    
   
});



$( "#btn_red1" ).click(function() {
   fight.add_score('red',1);
});

$( "#btn_red_minus" ).click(function() {
   fight.add_score('red',-1);
});

$( "#btn_red2" ).click(function() {
   fight.add_score('red',2);
});

$( "#btn_red3" ).click(function() {
   fight.add_score('red',3);
});

$( "#btn_redc1" ).click(function() {
   fight.add_score('red',1);
});

$( "#btn_redc2" ).click(function() {
   fight.add_score('red',1);
});

$( "#btn_redprotection" ).click(function() {
    fight.protection_color=='red';
    if (fight.protection_active ){
        $('#cronometer').show();
        $('#protection').hide();        
        fight.protection_active = false;
        //fight.cronometer_active = true;
        fight.protection_secs = 10; 
        fight.protection_color='red';    
    }else{
        $('#cronometer').hide();
        $('#protection').show();
        fight.protection_active=true;
        fight.cronometer_active=false;
        fight.protection_red_count++;
        $('#protection').css('color','red');   
        fight.protection_color='red';
        fight.protection();    

    }

});
$('#protection').hide();

</script>

<script type="text/javascript">
//<![CDATA[
// 1000 = 1 segundo
var mins = 3;
var segs =59;
var s;
document.getElementById("minutos").innerHTML='0'+mins;

var m = setInterval('fight.cronometer()', 1000);

var m1 = setInterval('fight.protection()', 1000);

var m3 = setInterval('fight.sync2db()', 500);

//]]>
</script>
