{{extend 'layout.html'}}
<script src="https://d3js.org/d3.v4.min.js"></script>
<style>
.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    /*box-shadow: 0 5px 15px rgba(0,0,0,0.5);*/
    background-color: #000;
}	
h2, .h2 {
    font-size: 30px;
    color: #fff;
}
body {
    background-color:#000;
    padding-top:0px;
    padding-bottom;0px;
    }

#lbl_winner {
	
	font-size:32px;
color:white;
text-align:center;
padding-top:0px; 
	}	
	
#label_tatami {
font-size:32px;
color:white;
text-align:center;
padding-top:0px;        
}
#label_tournament {
font-size:32px;
color:white;
text-align:center;
padding-top:0px;        
}
#label_category{
font-size:32px;
color:white;
text-align:center;
padding-top:0px;        
}
#blue_header {
color:blue;
text-align:center;
        
}

#red_header {

color:red;
text-align:center;
        
}

#blue_score {
font-size:300px;
color:blue;
text-align:center;
padding-top:0px;

        
}
#athlete_blue {
font-size:46px;
color:blue;
text-align:center;


        
}
#red_score {
    font-size:300px;
color:red;
text-align:center; 
padding-top:0px;  
}
    
#athlete_red {
    font-size:46px;
color:red;
text-align:center;   
}
    
#cronometer {
    font-size:56px;
color:yellow;
text-align:center;   
}
#protection {
    font-size:56px;
    color:white;
    text-align:center;   
    //visibility:hidden;
    //display:none;
}

.fault_red {

width: 30px;
height: 30px;
border-radius: 200px; border: 1px solid rgb(255, 0, 0); 
background-color: rgba(206, 206, 206,0.30);
text-align: center;margin: 0 auto;
}

.fault_red_active {

width: 30px;
height: 30px;
border-radius: 200px; border: 1px solid rgb(0, 0, 0); 
background: linear-gradient( 45deg, rgba(255, 0, 0,0.9), #ffebcd);

background-color: rgba(255, 0, 0,0.9);
text-align: center;margin: 0 auto;
}

.fault_blue {
width: 30px;
height: 30px;
border-radius: 200px; border: 1px solid rgb(0, 0, 255); 
background-color: rgba(206, 206, 206,0.40);
text-align: center;margin: 0 auto;
}

.fault_blue_active {
width: 30px;
height: 30px;
background: linear-gradient( 45deg, rgba(0, 0, 255,0.9), #ffebcd);
border-radius: 200px; border: 1px solid rgb(0, 0, 0); 
background-color: rgba(0, 0, 255,0.9);
text-align: center;margin: 0 auto;
}

th,td {
    text-align: center;
}
</style>




<div class="row">
  <div class="col-md-4" style="text-align:center"><div id="athlete_blue" >...</div></div>
  <div class="col-md-4" style="text-align:center">  
      <div id="cronometer" > <span id="minutos">60</span> : <span id="segundos">00</span> </div> 
      <div id="protection" >10</div> 
  </div> 
  <div class="col-md-4" style="text-align:center"><div id="athlete_red" >..</div></div>
</div>


<div class="row">
  <div class="col-md-4" style="text-align:center"><span id="blue_score" >0</span> 
  

  
  </div>
  <div class="col-md-4" style="text-align:center">
 
  <table class="table">
      <tr>
          
          <th> <span id="blue_header"> CAT 1 </span> </th>
          <th><span id="blue_header"> CAT 2 </span> </th>
          <th>&nbsp;</th>
          <th><span id="red_header"> CAT 1 </span> </th>
          <th><span id="red_header"> CAT 2 </span> </th>
      </tr>
      <tr>
          
          <td><div id="btn_cat1_blue_1" class="fault_blue"></div></td>
          <td><div id="btn_cat2_blue_1" class="fault_blue"></div></td>
          <td>C</td>
          <td><div id="btn_cat1_red_1" class="fault_red"></div> </td>
          <td><div id="btn_cat2_red_1" class="fault_red"></div></td>
      </tr>

     <tr>
          
          <td><div id="btn_cat1_blue_2" class="fault_blue"> </div> </td>
          <td><div id="btn_cat2_blue_2" class="fault_blue"> </div></td>
          <td>K</td>
          <td><div id="btn_cat1_red_2" class="fault_red"> </div> </td>
          <td><div id="btn_cat2_red_2" class="fault_red"> </div></td>
      </tr>

     <tr>
          
          <td><div id="btn_cat1_blue_3" class="fault_blue"> </div> </td>
          <td><div id="btn_cat2_blue_3" class="fault_blue"> </div></td>
          <td>HC</td>
          <td><div id="btn_cat1_red_3" class="fault_red"> </div> </td>
          <td><div id="btn_cat2_red_3" class="fault_red"> </div></td>
      </tr>
     <tr>
          
          <td><div id="btn_cat1_blue_4" class="fault_blue"> </div> </td>
          <td><div id="btn_cat2_blue_4" class="fault_blue"> </div></td>
          <td>H</td>
          <td><div id="btn_cat1_red_4" class="fault_red"> </div> </td>
          <td><div id="btn_cat2_red_4" class="fault_red"> </div></td>
      </tr>            
  </table>
  <img id="img_logo" src="{{=URL('static','images/logo.jpg')}}" width="150x" alt="..." class="img-circle"> 

  </div>

  <div class="col-md-4" style="text-align:center">
      
   
      <span id="red_score">0</span>
  
  
  
  
  </div>
</div>

<div class="row">
  <div class="col-md-6" style="text-align:center">
      <div class="btn-group btn-group-md" role="group" aria-label="...">
          <a id="btn_blue1" type="button" class="btn btn-primary ">Yuko</a>          
          <a id="btn_blue2" type="button" class="btn btn-primary ">Wazari</a>
          <a id="btn_blue3" type="button" class="btn btn-primary ">Ippon</a>

      </div>
      
  </div>
  <div class="col-md-2" style="text-align:center"> </div>
  <div class="col-md-6" style="text-align:center">
      <div class="btn-group btn-group-md" role="group" aria-label="...">

          <a id="btn_red1" type="button" class="btn btn-danger ">Yuko</a>
          <a id="btn_red2" type="button" class="btn btn-danger ">Wazari</a>
          <a id="btn_red3" type="button" class="btn btn-danger ">Ippon</a> 

      </div>
      
  </div>
</div>

<div class="row">
  <div class="col-md-6" style="text-align:center">
      <div class="btn-group btn-group-md" role="group" aria-label="...">
          <a id="btn_blue_minus" type="button" class="btn btn-primary ">-1</a>          
          <a id="btn_bluec1" type="button" class="btn btn-primary ">C1</a>
          <a id="btn_bluec2" type="button" class="btn btn-primary ">C2</a>
          <a id="btn_blueprotection" type="button" class="btn btn-primary ">10''</a> 
      </div>
      
  </div>
  <div class="col-md-2" style="text-align:center"></div>
  <div class="col-md-6" style="text-align:center">
      <div class="btn-group btn-group-md" role="group" aria-label="...">

          <a id="btn_red_minus" type="button" class="btn btn-danger ">-1</a>
                    <a id="btn_redc1" type="button" class="btn btn-danger ">C1</a>
          <a id="btn_redc2" type="button" class="btn btn-danger ">C2</a>   
          <a id="btn_redprotection" type="button" class="btn btn-danger ">10''</a>        
        
      </div>
      
  </div>
</div>


<div class="row">
  <div class="col-md-4" style="text-align:center"><div id="label_tatami" >{{=tatami_name}}</div></div>
  <div class="col-md-4" style="text-align:center">    <div id="label_tournament" >OPEN  DE VENEZUELA</div> </div>
  <div class="col-md-4" style="text-align:center"><div id="label_category" >{{=category_name}}</div></div>
</div>




<div id="anuncio" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="gridSystemModalLabel">ANUNCIO</h4>
      </div>
      
      
       <div class="modal-body">
   
        <div class="row">
       
       





	<table class="table">
	<tr>
		<td>
			 <div id="btn_set_winner_blue" class="fault_blue_active">  </div
			 <div> {{= IMG( _width="50px",_heigth="50px",_src= URL('default', 'download', args=[record.athlete_blue.photo]),_alt="de", _id="img_blue_photo" ) }}</div>
		</td>
		<td>
		{{= IMG( _width="200px",_heigth="200px",_src= URL('static', 'images/logo.jpg'),_alt="de" , _id="img_win_photo") }}	 
		<div id="lbl_winner">GANADOR: </div>
			
		</td>
		<td>
			   <div id="btn_set_winner_red" class="fault_red_active">  </div>
			   <div>{{= IMG( _width="50px",_heigth="50px",_src= URL('default', 'download', args=[record.athlete_red.photo]),_alt="de", _id="img_red_photo" ) }}</div>
		</td>
	</tr>
	</table>
      







        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Reiniciar</button>
        <button type="button" id="btn_save" class="btn btn-primary">Guardar</button>
      </div>     
      
    </div>
  </div>
</div>


<script>$( document ).ready(function() {
    nav= $('nav').hide();
    var foot = $('footer');
    foot= $('footer').hide();
    body= $('body');
    body.css('background','black');
    social=$('#socialdrawer');
    social.hide();
    fight.print_names();
    });
</script>


<script language="JavaScript">
var flag_c = 1;
var flag_k = 2;
var flag_hc= 4;
var flag_h = 8;

var fight = {
    fight_id : {{=record.fight.id}},
    blue_athlete_id:'{{=record.athlete_blue.id}}',
    blue_athlete_name: '{{=record.athlete_blue.name}}',
    blue_score:0,
    blue_c1:0,
    blue_c2:0,
    red_athlete_id: '{{=record.athlete_red.id}}',
    red_athlete_name: '{{=record.athlete_red.name}}',
    red_score:0,
    red_c1:0,
    red_c2:0,   
    winner_athlete_id:0,             
    cronometer_secs:00,
    cronometer_mins:3,
    cronometer_active:false,
    protection_active:false,
    protection_color: '',  
    protection_secs:10,
    protection_blue_count:0,
    protection_red_count:0,
    fault_c1_red_count:0,
    fault_c2_red_count:0,
    fault_c1_blue_count:0,
    fault_c2_blue_count:0,
    finished:0,
    
    set_winner: function (color){
        if (color=='blue'){
			this.winner_athlete_id = this.blue_athlete_id;
			this.finished = 1;
			$('#lbl_winner').html('GANADOR: ' + this.blue_athlete_name);
			var img ='{{=  URL("default", "download", args=[record.athlete_blue.photo]) }}'
			$('#img_win_photo').attr("src", img) ;
		}
		if (color=='red'){
			this.winner_athlete_id = this.red_athlete_id;
			this.finished = 1;
			$('#lbl_winner').html('GANADOR: ' + this.red_athlete_name);
			var img = '{{=URL("default", "download", args=[record.athlete_red.photo])}}';
			$('#img_win_photo').attr("src", img) ;
		}
        
        
    },
    
    print_names: function (){
        $('#athlete_blue').html(this.blue_athlete_name);
        $('#athlete_red').html(this.red_athlete_name);
        
    },
    add_score: function (color,num){
        
        var foot = $('footer');
        
        sufix = '_score';
        obj = $('#'+color+sufix);
        score = obj.html();
        score = parseInt(score);
        
        score = score + num;
        if (score>=0 && fight.cronometer_active && this.finished==0){
            obj.html(score); 
            if (color=='red'){ this.red_score=score; }    ; 
            if (color=='blue'){ this.blue_score=score; }  ;
        } 

        if (this.red_score-this.blue_score>=8){
            $('#anuncio').modal('toggle');
            this.set_winner('red');
        }
        if (this.blue_score-this.red_score>=8){
            $('#anuncio').modal('toggle');
            this.set_winner('blue');
        }
    },
    toggle_crono: function (){
        
        if (this.protection_active ==false){
           if (this.cronometer_active) {
               this.cronometer_active = false;
            }else{
                this.cronometer_active = true;
            }        
        }
    
    } ,
    
    
    cronometer: function(){
        if (fight.cronometer_active==true && this.finished==0) {
            if ( this.cronometer_secs>=0 && this.cronometer_mins>=0 ) {    
                fmt = '';
                fmt_min='';
                
                if (this.cronometer_mins < 10) { fmt_min='0' }
                
                if(this.cronometer_secs == 0  ){
                    //location.reload();
                    var ds = clearInterval(s);
                    this.cronometer_secs=59;
                    if (this.cronometer_secs < 10) { fmt='0' }
                    this.cronometer_mins--;
                    if (this.cronometer_mins<0){
                        document.getElementById("segundos").innerHTML='00';
                        document.getElementById("minutos").innerHTML='00';
                        document.title = '00:00';
                        
                        tmp_color = '';
                        if (this.red_score < this.blue_score)
							             tmp_color='blue';
					              else
							             tmp_color='red';
                        $('#anuncio').modal('toggle');
                        this.set_winner(tmp_color);
					 
                       
                        
                    }else{
                        document.getElementById("segundos").innerHTML=fmt+this.cronometer_secs;
                        document.getElementById("minutos").innerHTML=fmt_min+this.cronometer_mins;
                        document.title = fmt_min+this.cronometer_mins +':'+fmt+this.cronometer_secs;
                        this.cronometer_secs =  60;
                    } 
                }else{
                    if (this.cronometer_secs < 10) { fmt='0' }
                    this.cronometer_secs--;
                    document.getElementById("segundos").innerHTML=fmt+this.cronometer_secs;
                    document.title = fmt_min+this.cronometer_mins +':'+fmt+this.cronometer_secs;    
                }
            }
            

        }
    },
    
    protection: function (){
             
        if (this.protection_active==true && this.protection_color!='' && this.finished==0) {
           
            if ( this.protection_secs>=0 ) {
                
                //console.log('paso 3');    
                var fmt = '';
                
                console.log(this.protection_secs);
                if (this.protection_secs < 10) { fmt='0' }
                document.getElementById("protection").innerHTML=fmt+this.protection_secs;

                if(this.protection_secs == 0){
					 $('#anuncio').modal('toggle');
					 color_winner = '';
					 if (this.protection_color=='blue')
						color_winner='red';
					 else
					    color_winner='blue';
					 this.set_winner(color_winner);
					 
                     document.getElementById("protection").innerHTML="Finalizado";
                }
            }
            this.protection_secs--;
            
        }   
        

    },
 
    save: function(){
        
            $.post( "save_fight", {data:JSON.stringify(fight)} );   
        
    },

    sync2db: function(){
        if ( this.protection_active || this.cronometer_active)  {
            $.post( "save_fight_log", {data:JSON.stringify(fight)} );   
        }
    },      
    inc_penalty: function(color, cat){
		
		if (color=='blue' && cat==1){
			if (this.blue_c1<4)
				this.add_penalty(color,cat,this.blue_c1 +1);
			
		}
		if (color=='blue' && cat==2){
			if (this.blue_c2<4)
				this.add_penalty(color,cat,this.blue_c2 +1);
		}
		if (color=='red' && cat==1){
			if (this.red_c1<4)
				this.add_penalty(color,cat,this.red_c1 +1);
		}	
		if (color=='red' && cat==2){
			if (this.red_c2<4)
				this.add_penalty(color,cat,this.red_c2 +1);	
		}		
			

    }, 
    
    decrement_penalty: function(color, cat){
		
		if (color=='blue' && cat==1){
			if (this.blue_c1>0)
				this.add_penalty(color,cat,this.blue_c1 -1);
			
		}
		if (color=='blue' && cat==2){
			if (this.blue_c2>0)
				this.add_penalty(color,cat,this.blue_c2 -1);
		}
		if (color=='red' && cat==1){
			if (this.red_c1>0)
				this.add_penalty(color,cat,this.red_c1 -1);
		}	
		if (color=='red' && cat==2){
			if (this.red_c2>0)
				this.add_penalty(color,cat,this.red_c2 -1);	
		}		
			

    },    
       
    add_penalty: function (color,cat,cant){
        
        for (var i=1; i<=4; i++){
            btn = 'btn_cat'+cat+'_'+color+'_'+i;
            $( '#'+btn ).removeClass( 'fault_'+color+'_active' );
            $( '#'+btn ).addClass( 'fault_'+color+'' );


        }
        for (var i=0; i<=cant; i++){
            btn = 'btn_cat'+cat+'_'+color+'_'+i;
            if (i>0){
				$( '#'+btn ).addClass( 'fault_'+color+'_active' );
			}
            if (color=='blue' && cat==1){
                this.blue_c1 = cant;
            }
            if (color=='blue' && cat==2){
                this.blue_c2 = cant;
            }    

            if (color=='red' && cat==1){
                this.red_c1 = cant;
            }
            if (color=='red' && cat==2){
                this.red_c2 = cant;
            }                      
        }
        
        if (cant==4){
				tmp ='';
				if (color=='blue')
					tmp='red';
				else
					tmp='blue';
				$('#anuncio').modal('toggle');
				this.set_winner(tmp);
			}
    },    
      
}




shortcut.add("1",function() {
    fight.add_score('blue',1);
});

shortcut.add("2",function() {
    fight.add_score('blue',2);
});

shortcut.add("3",function() {
   fight.add_score('blue',3);
});

shortcut.add("X",function() {
   fight.add_score('blue',-1);
});

shortcut.add("8",function() {
    fight.add_score('red',1);
});

shortcut.add("9",function() {
    fight.add_score('red',2);
});

shortcut.add("0",function() {
   fight.add_score('red',3);
});

shortcut.add("M",function() {
   fight.add_score('red',-1);
});

shortcut.add("Q",function() {
   fight.inc_penalty('blue',1);
});
shortcut.add("E",function() {
   fight.decrement_penalty('blue',1);
});
shortcut.add("A",function() {
   fight.inc_penalty('blue',2);
});
shortcut.add("D",function() {
   fight.decrement_penalty('blue',2);
});
shortcut.add("P",function() {
   fight.inc_penalty('red',1);
});

shortcut.add("I",function() {
   fight.decrement_penalty('red',1);
});

shortcut.add("L",function() {
   fight.inc_penalty('red',2);
});
shortcut.add("J",function() {
   fight.decrement_penalty('red',2);
});
shortcut.add("space",function() {
   fight.toggle_crono();

});



$( "#btn_save" ).click(function() {
   fight.save();
});

$( "#btn_blue1" ).click(function() {
   fight.add_score('blue',1);
});

$( "#btn_blue_minus" ).click(function() {
   fight.add_score('blue',-1);
});

$( "#btn_blue2" ).click(function() {
   fight.add_score('blue',2);
});

$( "#btn_blue3" ).click(function() {
   fight.add_score('blue',3);
});

$( "#btn_bluec1" ).click(function() {
    fight.inc_penalty('blue',1);
});

$( "#btn_bluec2" ).click(function() {
   fight.inc_penalty('blue',2);
});

$( "#btn_blueprotection" ).click(function() {

    fight.protection_color=='blue';
    if (fight.protection_active ){
        $('#cronometer').show();
        $('#protection').hide();        
        fight.protection_active = false;
        //fight.cronometer_active = true;
        fight.protection_secs = 10;
        fight.protection_color='blue';     
    }else{
        $('#cronometer').hide();
        $('#protection').show();
        fight.protection_active=true;
        fight.cronometer_active = false;
        fight.protection_blue_count++;
        $('#protection').css('color','blue');   
        fight.protection_color='blue';
        fight.protection();    

    }
    
   
});



$( "#btn_red1" ).click(function() {
   fight.add_score('red',1);
});

$( "#btn_red_minus" ).click(function() {
   fight.add_score('red',-1);
});

$( "#btn_red2" ).click(function() {
   fight.add_score('red',2);
});

$( "#btn_red3" ).click(function() {
   fight.add_score('red',3);
});

$( "#btn_redc1" ).click(function() {
    fight.inc_penalty('red',1);
});

$( "#btn_redc2" ).click(function() {
    fight.inc_penalty('red',2);
});

$( "#btn_set_winner_red" ).click(function() {
    fight.set_winner('red');
});

$( "#btn_set_winner_blue" ).click(function() {
    fight.set_winner('blue');
});

$( "#img_logo" ).click(function() {
    $('#anuncio').modal('toggle');
});





$( "#btn_redprotection" ).click(function() {
    fight.protection_color=='red';
    if (fight.protection_active ){
        $('#cronometer').show();
        $('#protection').hide();        
        fight.protection_active = false;
        //fight.cronometer_active = true;
        fight.protection_secs = 10; 
        fight.protection_color='red';    
    }else{
        $('#cronometer').hide();
        $('#protection').show();
        fight.protection_active=true;
        fight.cronometer_active=false;
        fight.protection_red_count++;
        $('#protection').css('color','red');   
        fight.protection_color='red';
        fight.protection();    

    }

});
$('#protection').hide();

</script>

<script type="text/javascript">
//<![CDATA[
// 1000 = 1 segundo
var mins = 3;
var segs =59;
var s;
document.getElementById("minutos").innerHTML='0'+mins;

var m = setInterval('fight.cronometer()', 1000);

var m1 = setInterval('fight.protection()', 1000);

//var m3 = setInterval('fight.sync2db()', 500);

//]]>
</script>

<script type="text/javascript">
  

$( "div[id^='btn_cat1']" ).click(function() {
    for (var idx = 1; idx <= 4; idx++ ){
        btn_blue = 'btn_cat1_blue_'+idx;
        btn_red = 'btn_cat1_red_'+idx;

        if (this.id == btn_blue){
            if (fight.blue_c1 == idx){

                 fight.add_penalty('blue', 1, idx-1)
            }else{ 
				if (idx>0 && fight.blue_c1 == idx-1){
					fight.add_penalty('blue', 1, idx);
				}
            }
        }
        if (this.id == btn_red){
            if (fight.red_c1 == idx){
                 fight.add_penalty('red', 1, idx-1)
            }else{ 
				if (idx>0 && fight.red_c1 == idx-1){
					fight.add_penalty('red', 1, idx);
				}
            }
        }
    }
    
 
  
});

$( "div[id^='btn_cat2']" ).click(function() {
    for (var idx = 1; idx <= 4; idx++ ){
        btn_blue = 'btn_cat2_blue_'+idx;
        btn_red = 'btn_cat2_red_'+idx;

        if (this.id == btn_blue){
            if (fight.blue_c2 == idx){

                 fight.add_penalty('blue', 2, idx-1)
            }else{ 
				if (idx>0 && fight.blue_c2 == idx-1){
					fight.add_penalty('blue', 2, idx);
				}
            }
        }
        if (this.id == btn_red){
            if (fight.red_c2 == idx){
                 fight.add_penalty('red', 2, idx-1)
            }else{ 
				if (idx>0 && fight.red_c2 == idx-1){
					fight.add_penalty('red', 2, idx);
				}
            }
        }
    }
    
 
  
});

</script>
