{{extend 'layout.html'}}
{{import json}}
<h1>{{=T('Match by Bracket')}}</h1>
{{stractive=''}}
<div class="panel panel-default">
  <div class="panel-heading">Criterios</div>
  <div class="panel-body">
  

    <form id="frm1" method="post" action="{{=URL('fight','bracket')}}" >
    <label class="control-label" for="gender_default">{{=T('gender')}}:</label>
     <select class="auto_post"  id="gender_default" name="gender_default">
         <option value="0" >Seleccione</option>
        {{for gender in genders:}}
        {{stractive =' selected' if int(gender.id)==int(gender_default) else ' ' }}
        <option  {{=XML(stractive)}} value="{{=gender.id}}" >{{=gender.name}}</option>
        {{pass}}
    </select>
    <label class="control-label" for="category_id">{{=T('category')}}:</label>
     <select class="auto_post"  id="category_id" name="category_id">
         <option value="0" >Seleccione</option>
        {{for cat in categories:}}
        {{stractive =' selected' if int(cat.id)==int(cat_id) else ' ' }}
        <option  {{=XML(stractive)}} value="{{=cat.id}}" >{{=cat.name}}</option>
        {{pass}}
    </select>
    <label class="control-label" for="subcat_default">{{=T('subcategory')}}:</label>
     <select  class="auto_post"  id="subcat_default" name="subcat_default">
         <option value="0" >Seleccione</option>
        {{for cat in subcategories:}}
        {{stractive =' selected' if int(cat.id)==int(subcat_default) else ' ' }}
         <option  {{=XML(stractive)}} value="{{=cat.id}}" >{{=cat.name}}</option>
        {{pass}}
    </select>
<a href="#" id="btn_goto" class="btn btn-primary btn-xs">{{=T('Go to list')}}</a>

    </form>

  </div>
</div>

<style>
div.jQBracket .team {
    background-color: #000;
    width: 120px;
   
}
div.jQBracket .score {
    color: #fff;
   
}
</style>

<div id="minimal" class="demo"> </div>
<script>
    var minimalData = {
    teams : {{ data = [ [rs['blue'],rs['red']] for rs in fights  ] }} {{response.write(json.dumps(data),escape=False)}},
    results : [
    {{ for phase in xrange(max_phase): }}
    {{ data = [ [ rs['blue'],rs['red'] ] for rs in results if  rs['phase']==phase+1  ] }} {{response.write(json.dumps(data),escape=False) if len(data)>0 else ''}},

    {{pass }}
    //       [[1,2], [3,4]],       /* first round */   /* first round */
   /* second round */
    ]
  }
 

var resizeParameters = {
  teamWidth: '100',
  scoreWidth: 100,
  matchMargin: 10,
  roundMargin: 50,
  init: minimalData
};
 

  $('#minimal').bracket(resizeParameters);

</script>

<script>$( document ).ready(function() {
    
    //body= $('body');
    //body.css('background','black');
    
    });
</script>
<script>
$( ".auto_post" ).change(function() {

   $( "#frm1" ).submit();
});
$( "#btn_goto" ).click(function() {
       $("#frm1").attr('action', '{{=URL('fight','index')}}');
       $("#frm1").submit();
});



 

</script>
